<html>
  <head>
    <title>Player Dashboard</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>X</th>
          <th>Y</th>
          <th>Z</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <%= for {id, {x, y, z, ts}} <- @players do %>
          <tr>
            <td><%= id %></td>
            <td><%= x %></td>
            <td><%= y %></td>
            <td><%= z %></td>
            <td><%= ts %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script defer type="text/javascript" src="/js/phoenix.min.js"></script>
    <script defer type="text/javascript" src="/js/phoenix_live_view.min.js"></script>
    <script>
      const liveSocket = new Phoenix.LiveSocket("/live", Phoenix.Socket);
      liveSocket.connect();
    </script>
  </body>
</html>
